* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}

body {
    background-color: darkolivegreen;
}

.card,
.recipe-card {
    background-color: wheat;
    border: 5px solid darkkhaki;
    margin: 50px auto;
}

.card {
    width: 500px;
    height: 500px;
    padding: 50px;
}

.recipe-card {
    width: 750px;
    height: auto;
    padding: 25px;
}

.title {
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid black;
}

.recipe-title {
    font-size: 20px;
}

.recipes {
    margin: 10px 30px;
}

img {
    width: auto;
    height: 400px;
}

.lists {
    margin-top: 20px;
    margin-left: 20px;
}